<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Ribbon theme for Shower</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1274, user-scalable=no">
	<link rel="stylesheet" href="ribbon/css/screen.css">
	<link rel="stylesheet" href="ribbon/css/print.css" media="print">
</head>
<body class="list debug">
	<header class="caption">
		<h1>Presentation Title</h1>
		<p><a href="">Author Name</a></p>
	</header>
    {% for slide in slides %}
      <!-- slide source: {% if slide.source %}{{ slide.source.rel_path }}{% endif %} -->
        <section class="slide"><div>
            {% if slide.header %}
            <h2>{{ slide.header }}</h2>
            {% endif %}
            {% if slide.content %}
            <section>{{ slide.content }}</section>
            {% endif %}
        </div></section>
       <!--<div class="presenter_notes">
            <header><h1>Presenter Notes</h1></header>
            <section>
            {% if slide.presenter_notes %}
                {{ slide.presenter_notes }}
            {% endif %}
            </section>
        </div>-->
     {% endfor %}
	<!--
		To hide progress bar from entire presentation
		just remove “progress” element.
		-->
	<div class="progress"><div></div></div>
	<script src="ribbon/js/script.js"></script>
	<!-- Copyright © 2010–2012 Vadim Makeev — pepelsbey.net -->
</body>
</html>
